@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    width: 1440px;
    margin: 0 auto;
}

:root {
    --main-color: #3576C6;

}

.flex {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

/* -----------------------------------header----------------------*/

header {
    display: flex;
}

.logo {
    margin-right: 271px;
    margin-left: 100px;
}

.button2 {
    margin-left: 253px;
    margin-top: 51px;
}

.button {
    width: 198px;
    height: 49px;
    background-color: #0B0E66;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 12px 33px;
    box-sizing: border-box;
    color: #26C7EA;
    display: block;
}

.header-wrap {
    height: 150px;
    background-color: var(--main-color);
}

.menu {
    margin-top: 63px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    gap: 43px;
}

.menu a {
    color: #FFFFFF;
}

li:nth-child(1) a {
    color: #0B0E66;
}

/* -------------------sec1------------------------------------- */
.sec1-wrap {
    background-image: url(/images/Group\ 48\ 1\ \(2\).png);
    height: 728px;
    position: relative;
}

.sec1-social {
    bottom: 50px;
    left: 100px;
    position: absolute;
    display: flex;
    gap: 25px;
}

/* -------------sec2----------------------------- */
.h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 125%;
    color: #0B0E66;
    margin-top: 60px;
    /* margin-left: 419px; */
    text-transform: uppercase;
    text-align: center;

}

.sec2-wrap :nth-child(2) {
    margin-left: 650px;
    margin-top: 20px;
}

/* -------------------sec3---------------------------- */
.sec3-wrap {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 30px;
}

.section {
    background-color: #C8EAFF;
    width: 590px;
    height: 150px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.class {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    padding-top: 32px;
    padding-left: 49px;
}

.school {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    padding-top: 20px;
    padding-left: 49px;
}

/* ----------------------------------sec4 -------------------------------------*/
.sec4-wrap {
    height: 704px;
    background-image: url(/images/Rectangle\ 20\ \(1\).png);
    margin-top: 130px;
    margin-bottom: 60px;
}

.sc1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #FFFDFD;
    padding-top: 50px;
    text-align: center;
}

.sc2 {
    column-gap: 41px;
    row-gap: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 240px);
    margin-top: 45px;
}

.card {
    background-color: #FFFFFFB2;
    opacity: 0.7;
}

.card h4 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #0B0E66;
    padding-top: 30px;
    padding-left: 30px;
}

.card p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-top: 15px;
    padding-left: 30px;
}

/* -------------------------sec5 -------------------------------*/
.sec5-wrap h3 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #0A3853;
    margin-bottom: 70px;
    text-transform: uppercase;

}

.sec5-card {
    display: flex;
    gap: 34px;
    align-items: center;
    margin-bottom: 30px;
}

.section5 {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.sec5-card p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    width: 524px;
}

/* ----------------------------------sec6---------------------- */
.sec6-wrap {
    background-image: url(/images/Rectangle\ 12\ \(1\).png);
    height: 560px;
    margin-top: 100px;
}

.sec6-wrap h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #FFFDFD;
    padding-top: 60px;
    text-align: center;
}

.sec6-wrap p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFDFD;
    padding-top: 30px;
    text-align: center;
}

.sec6-input {
    gap: 50px;
    justify-content: center;
    margin-top: 80px;
}

.sec6-info {
    width: 363px;
    height: 71px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.sec6-info::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #6D6A6A;
    padding-left: 40px;
}

.section-input {
    width: 363px;
    height: 71px;
    border-radius: 20px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.section-input input {
    border: none;
    background-color: #D9D9D9;
    height: 24px;
}

.section-input input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #6D6A6A;

}

.section6-btn {
    width: 363px;
    height: 71px;
    border-radius: 20px;
    border: 1px solid #26C7EA;
    background-color: #0B0E66;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 100%;
    color: #26C7EA;
    font-size: 20px;
}
/* -------------------------------footer------------------------------------------- */
.footer-wrap{
  height: 223px;
  background-color: #3576C6;
  justify-content: space-around;
  position: relative;

}
.fot1{
    padding-top: 28px;
   padding-left:99px ;

}
.fot2{
    margin-left: 164px;
    margin-top: 40px;
}
.fot3{
    padding-left: 122px;
    width: 457px;
    padding-top: 40px;
}
.p1{
      font-family: "Inter", sans-serif; 
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #26C7EA;
      margin-bottom:20px ;
}
.p2{
         font-family: "Inter", sans-serif; 
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #FFFDFD;
      margin-bottom:10px ;
}
.p3{
         font-family: "Inter", sans-serif; 
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #FFFDFD;
      margin-bottom:30px ;
}
.images1{
    gap: 25px;
    display: flex;
}
.p4{
    font-family: "Inter", sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #26C7EA;
    margin-bottom: 10px;
}
.p5{
    font-family: "Inter", sans-serif; 
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFDFD;
    margin-bottom:10px ;
}
.p6{
    font-family: "Inter", sans-serif; 
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #26C7EA;
    margin-bottom: 10px;
}
.p7{
       font-family: "Inter", sans-serif; 
       font-weight: 500;
       font-size: 24px;
       line-height: 100%;
       color: #FFFDFD;

}
.img4{
    position: absolute;
    top: 70px;
    right: 400px;
}
.img5{
    position: absolute;
    bottom: 30px;
    right: 400px;
}